@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import 'utils/variables';
@import 'utils/mixins';
@import 'layout/footer';

body{
    margin: 0;
}
.title, h2 {
    font-family: 'Shrikhand', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
.bolder{
    font-weight: bolder;
}
.ml{
    margin-left: 1em;
}
.mt{
    margin-top: 0;
}
.mb{
    margin-bottom: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em;
}
header img{
    width: 50%;
    max-width: 300px;
    height: 50%;
}
.research{
    width: 100%;
    height: 25em;
}
.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: #EAEAEA;  
}
.text-search{
    background: none;
    border: none;
    width: 150px;
    text-align: center;
}
.btn{
    width: 100%;
    height: 20em;
    background-color: $bck-color;
    padding-bottom: 2em;
}
.btn-search{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.research-btn{
    height: 50px;
    width: 200px;
    border-radius: 50em;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 6px 6px 10px grey;
    margin: 16px 0 16px;
}
.instructions{
    width: 100%;
    height: 30em;
    margin: 1em 0 4em;
}
.selection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}
.choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    margin-right: 1em;
}
.choose-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bck-color;
    @include instruction;
}
.compose{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    margin-right: 1em;
}
.compose-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bck-color;
    @include instruction;
}
.store{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    margin-right: 1em;
}
.store-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bck-color;
    @include instruction;
}
.nbr{
    background-color: $color-primary;
    border-radius: 100%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    left: 1em;
}
.filter-hover a{
    text-decoration: none;
}
.filter-hover:hover{
    color: $color-primary;
    background-color: $btn-purple;
}
.heart{
    font-size: 1.5em;
    &:hover{
        color: red;
    }
}
.no-hov{
    color: black;
}
.restaurants{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 67em;
    background-color: $bck-color;
    padding: 0 1em 5em;
}
.full-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;    
}
.box{
    position: relative;
    @include box-restaurant;
    cursor: pointer;
}
.describe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.6em;
}
.box img{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 9em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;   
}
.new{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:#99E2D0;
    padding: 0.6em;
    border-radius: 4px;
}
.box a{
    text-decoration: none;
    color: black;
}
/**Menu-code*/

.arrow{
    margin-right: 2em;

}
.menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        height: 12em;
        object-fit: cover;
    }
    .menu__choice{
        width: 100%;
        height: 80em;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0 4em 0;
        border-radius: 3em 3em 0 0;
    }
    .menu__title{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 95%;
    }  
    .appetizer{
        width: 95%;
        height: 30%;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;

    }
    .plates{
        width: 95%;
        height: 30%;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
    .dessert{
        width: 95%;
        height: 30%;
        margin-top: 1em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
    .recipe{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        background-color: $bck-color;
        @include box-plate;
    }
}
.command{
    height: 50px;
    width: 200px;
    border-radius: 50em;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 6px 6px 10px grey;
}