@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import 'layout/header';
@import 'utils/typography';
@import 'utils/variables';
@import 'utils/mixins';
@import 'layout/footer';
@import 'components/button';


body{
    margin: 0;
}
/* spinner*/



.research{
    width: 100%;
    height: 25em;
}
.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: #EAEAEA;  
}
.text-search{
    background: none;
    border: none;
    width: 150px;
    text-align: center;
}
.btn{
    width: 100%;
    height: 20em;
    background-color: $bck-color;
    padding-bottom: 2em;
}
.btn-search{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.instructions{
    width: 100%;
    height: 30em;
    margin: 1em 0 4em;
    max-width: 1200px;
    margin: auto;
}
.selection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}
.choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    margin-right: 1em;
}
.instruction-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bck-color;
    @include instruction;
    @include hover-selection;
}
.compose{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    margin-right: 1em;
}
.store{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    margin-right: 1em;
}
.nbr{
    background-color: $color-primary;
    border-radius: 100%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    left: 1em;
}
.describe__heart{
    font-size: 1.5em;
    .heart-full{
        display: none;
    }
    &:hover{
        .heart-empty{
            display: none;
        }
        .heart-full{
            display: initial;            
        }
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}
.no-hov{
    color: black;
}
.restaurants{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 67em;
    background-color: $bck-color;
    padding: 0 1em 5em;
}
.full-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;    
}
.box{
    position: relative;
    @include box-restaurant;
    cursor: pointer;
}
.describe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.6em;
}
.box img{
    max-height: 100%;
    width: 100%;
    height: 9em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;   
}
.new{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:#99E2D0;
    padding: 0.6em;
    border-radius: 4px;
}
.box a{
    text-decoration: none;
    color: black;
}
/**restaurant-page*/

.arrow{
    position: relative;
    right: 50px;
    font-size: 1.2em;
}
.heart{
    font-size: 1.6em;
}
.icon__validate{
    font-size: 1.6em;
}
.menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        height: 15em;
        object-fit: cover;
        position: relative;
        bottom: -60px;
    }
    .menu__choice{
        width: 100%;
        height: 80em;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 4em 0;
        border-radius: 3em 3em 0 0;
        position: relative
    }
    .menu__title{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 95%;
    }
    .txt-underline{
        border-top: 3px solid $color-tertiary;
        width: 41px;
        position: relative;
        bottom: 1.4em;
    }  
    .appetizer{
        @include box;
    }
    .plates{
        @include box;        
        margin-top: 1em;
    }
    .dessert{
        @include box;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .recipe{
        @include box-recipe;
        .recipe__ingredient{
            margin: 0.5em;
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        .price{
            transition: transform 1s ease-in-out;
        }
        .recipe__validate{
            @include box-validate;
            background-color: $color-tertiary;
            transition: transform 1s ease-in-out;
            margin-right: -4em;
        }
        .icon__validate{                
            transition: transform 1s ease-in-out 50ms;
            transform: rotate(-90deg);
            }
        &:hover{
            .recipe__validate{               
                transform: translate(-4em,0 );
            }
            .icon__validate{
                transform: rotate(0deg);
            }
            .price{
                transform: translate(-4em,0 );
            }      
        }
    }
}

