@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import 'layout/header';
@import 'utils/typography';
@import 'utils/variables';
@import 'utils/mixins';
@import 'layout/footer';
@import 'components/button';

body{
    margin: 0;
}
.arrow{
    position: relative;
    right: 50px;
    font-size: 1.2em;
}
.heart{
    font-size: 1.6em;
}
.icon__validate{
    font-size: 1.6em;
}
.menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        height: 15em;
        object-fit: cover;
        position: relative;
        bottom: -60px;
    }
    .menu__choice{
        width: 100%;
        height: 80em;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 4em 0;
        border-radius: 3em 3em 0 0;
        position: relative;
        @media (min-width: 900px) {
            height: 70em;
        }        
    }
    .menu__title{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        max-width: 850px;
        margin: auto;
    }
    .menu-container{
        max-width: 900px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title-block{
        @include underline;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (min-width: 900px) {
            width: 100%;
        }
    }     
    .appetizer{
        @include box;
        @media (min-width: 900px) {
            max-width: 900px;
            width: 100%;
            height: 30%;
            flex-direction: row;
            align-items: initial;
            align-content: initial;                
        }
    }
    .plates{
        @include box;        
        margin-top: 1em;
        @media (min-width: 900px) {
            max-width: 900px;
            width: 100%;
            height: 30%;
            flex-direction: row;
            align-items: initial;
            align-content: initial;                
        }
    }
    .dessert{
        @include box;
        margin-top: 1em;
        margin-bottom: 2em;
        @media (min-width: 900px) {
            max-width: 900px;
            width: 100%;
            height: 30%;
            flex-direction: row;
            align-items: initial;
            align-content: initial;           
        }
    }
    .recipe{
        @include box-recipe;
        @media (min-width: 900px) {
            height: 32%;
            max-width: 400px;
            align-items: center;
        }   
        .recipe__ingredient{
            margin: 0.5em;
            width: 85%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .price{
            transition: transform 1s ease-in-out;
        }
        .recipe__validate{
            @include box-validate;
            background-color: $color-tertiary;
            transition: transform 200ms ease-in-out, width 1s ease-in-out;
            position: relative;
            right : -4em;
        }
        .icon__validate{                
            transition: transform 1s ease-in-out 50ms, opacity 1s ease-in-out 50ms;
            transform: rotate(-180deg);
            opacity: 0;
        }
        &:hover{
            .recipe__validate{               
                transform: translate(-4em,0 );
                width: 4em;
            }
            .icon__validate{
                transform: rotate(0deg);
                opacity: 1;
            }
                 
        }
    }
}
@import "./layout/desktop-menu";