footer{
    padding: 1em;
    background-color: #353535;    
    margin: 0;
}
.footer-block{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
}
.icon{
    width: 30px;
}   
.propose-restaurant{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.become-partner{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}