@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 0;
  max-width: 1200px;
  margin: auto;
}

header img {
  width: 50%;
  max-width: 300px;
  height: 50%;
}

.title, .loader__txt, .footer__title {
  font-family: "Shrikhand", sans-serif;
}

.title-resto {
  font-family: "Shrikhand", sans-serif;
  font-weight: bolder;
  font-size: 1.8em;
}
@media (min-width: 900px) {
  .title-resto {
    font-size: 2.8em;
  }
}

.text__restaurant {
  font-weight: bolder;
  margin-bottom: 0;
}

p, .mailto {
  font-family: "Roboto", sans-serif;
}

.bolder, .order__txt {
  font-weight: bolder;
}

.ml {
  margin-left: 1em;
}

.mt {
  margin-top: 0;
}

.mb {
  margin-bottom: 0;
}

.title__margin {
  margin-top: 0;
  margin-bottom: 0;
}

.box a {
  text-decoration: none;
  color: black;
}

.mailto a {
  text-decoration: none;
  color: white;
}

/*typo-restaurant-page*/
.heart {
  font-family: "Shrikhand", sans-serif;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif;
}

.ingredient_txt {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin: 0.5em;
  font-size: 1.1em;
}

.cs-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  animation: cs-loader 8s 1 both;
}

@keyframes cs-loader {
  0%, 50% {
    opacity: 1;
    z-index: 1;
  }
  75% {
    opacity: 0.7;
    z-index: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 95%;
  color: black;
  padding: 0 2%;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 300%;
  opacity: 0;
  display: inline-block;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33%, 66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33%, 66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
.cs-loader-inner label:nth-child(8) {
  -webkit-animation: loader 3s 2 ease-in-out;
  animation: loader 3s 2 ease-in-out;
}

.cs-loader-inner label:nth-child(7) {
  -webkit-animation: loader 3s 100ms 2 ease-in-out;
  animation: loader 3s 100ms 2 ease-in-out;
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: loader 3s 200ms 2 ease-in-out;
  animation: loader 3s 200ms 2 ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: loader 3s 300ms 2 ease-in-out;
  animation: loader 3s 300ms 2 ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: loader 3s 400ms 2 ease-in-out;
  animation: loader 3s 400ms 2 ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: loader 3s 500ms 2 ease-in-out;
  animation: loader 3s 500ms 2 ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: loader 3s 600ms 2 ease-in-out;
  animation: loader 3s 600ms 2 ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: loader 3s 700ms 2 ease-in-out;
  animation: loader 3s 700ms 2 ease-in-out;
}

/*background-btn-restaurant*/
/*background-menu-restaurant*/
/*btn-filter-color*/
/*index*/
/*filter-selection*/
/*flag-NEW-index*/
.new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 0.6em;
  border-radius: 4px;
}

/*index-box-restaurant*/
/*page-restaurant*/
/*heart-display*/
.describe__heart {
  font-size: 1.5em;
}
.describe__heart .heart-full {
  display: none;
}
.describe__heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.describe__heart:hover .heart-empty {
  display: none;
}
.describe__heart:hover .heart-full {
  display: initial;
}

.describe__heart__menu {
  font-size: 1.6em;
}
.describe__heart__menu .heart-full {
  display: none;
}
.describe__heart__menu:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.describe__heart__menu:hover .heart-empty {
  display: none;
}
.describe__heart__menu:hover .heart-full {
  display: initial;
}
@media (min-width: 900px) {
  .describe__heart__menu {
    font-size: 2.6em;
  }
}

footer {
  padding: 1em;
  background-color: #353535;
  margin: 0;
}

.footer-block {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}
@media (min-width: 900px) {
  .footer-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .footer__title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 0;
  }
}

.icon {
  width: 30px;
}

.propose-restaurant, .become-partner {
  display: flex;
  flex-direction: row;
}

.mailto:hover {
  text-decoration: underline;
}

/*index-page*/
.research-btn {
  height: 50px;
  width: 200px;
  border-radius: 50em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 10px grey;
  margin: 16px 0 16px;
  transform: scale(1);
  transition: transform 200ms;
}
.research-btn:hover {
  transform: scale(1.15);
  box-shadow: 6px 6px 10px grey;
}

/*btn-restaurant-page*/
.btn-order {
  height: 50px;
  width: 200px;
  border-radius: 50em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 10px grey;
  transform: scale(1);
  transition: transform 200ms;
}
.btn-order:hover {
  transform: scale(1.15);
  box-shadow: 6px 6px 10px grey;
}

body {
  margin: 0;
}

/* loader*/
.research {
  width: 100%;
  height: 25em;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  background-color: #EAEAEA;
}

.text-search {
  background: none;
  border: none;
  width: 150px;
  text-align: center;
  outline: none;
}

.btn {
  width: 100%;
  height: 20em;
  background-color: #F6F6F6;
  padding-bottom: 2em;
}

.btn-search {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.instructions {
  width: 95%;
  height: 30em;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 965px) {
  .instructions {
    height: 20em;
  }
}

.selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
}
@media (min-width: 965px) {
  .selection {
    height: 60%;
  }
}

.choose {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 360px;
  margin-right: 1em;
}
@media (min-width: 965px) {
  .choose {
    width: 300px;
    margin-right: 0;
  }
}

.compose {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 360px;
  margin-right: 1em;
}
@media (min-width: 965px) {
  .compose {
    width: 300px;
    margin-right: 0;
  }
}

.store {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 360px;
  margin-right: 1em;
}
@media (min-width: 965px) {
  .store {
    width: 300px;
    margin-right: 0;
  }
}

.instruction-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  width: 295px;
  border-radius: 1em;
  padding: 1em 2em;
  box-shadow: 3px 3px 10px grey;
}
@media (min-width: 965px) {
  .instruction-txt {
    width: 205px;
  }
}
.instruction-txt .instruction-txt a {
  text-decoration: none;
}
.instruction-txt:hover {
  color: #9356DC;
  background-color: #F5EDFF;
}

.nbr {
  background-color: #9356DC;
  border-radius: 100%;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  left: 1em;
}

.no-hov {
  color: black;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  height: 75em;
  padding-bottom: 5em;
}
@media (min-width: 900px) {
  .restaurants {
    height: 41em;
  }
}

.full-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  height: 95%;
  width: 100%;
}
@media (min-width: 900px) {
  .full-box {
    flex-direction: row;
    align-content: space-evenly;
  }
}

.box {
  position: relative;
  width: 100%;
  max-width: 670px;
  height: 23%;
  border-radius: 1em;
  box-shadow: 6px 6px 10px #d9d9d9;
  background-color: white;
  cursor: pointer;
}
@media (min-width: 900px) {
  .box {
    max-width: 410px;
    height: 44%;
  }
}

.describe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.6em;
}

.box img {
  max-height: 100%;
  width: 100%;
  height: 12em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
