@mixin instruction {
    width: 295px;
    border-radius: 1em;
    padding: 1em 2em;
    box-shadow: 3px 3px 10px grey;
}

/*box-restaurant*/
@mixin box-restaurant {
    width: 100%;
    height: 22%;
    border-radius: 1em;
    box-shadow :6px 6px 10px #d9d9d9;
    background-color: white;
}

@mixin box-plate {
    width: 95%;
    height: 19%;
    max-width: 450px;
    border-radius: 1em;
    padding: 0.5em;
    box-shadow: 3px 3px 10px grey;
    
}