.title {
    font-family: 'Shrikhand', sans-serif;
}
.loader__txt{
    font-family: 'Shrikhand', sans-serif;
}
.footer__title{
    font-family: 'Shrikhand', sans-serif;
}
.title-resto{
    font-family: 'Shrikhand', sans-serif;
    font-weight: bolder;
    font-size: 1.8em;
}
.text__restaurant{
    font-weight: bolder;
    margin-bottom: 0;
}
.ingredient_txt{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.price{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 0.5em;
    font-size: 1.1em;
}
p {
    font-family: 'Roboto', sans-serif;
}
.bolder{
    font-weight: bolder;
}
.no-margin{
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ml{
    margin-left: 1em;
}
.mt{
    margin-top: 0;
}
.mb{
    margin-bottom: 0;
}

/*typo-restaurant-page*/

.order__txt{
    font-weight: bolder;
}
.heart{
    font-family: 'Shrikhand', sans-serif;
}