.title, .loader__txt, .footer__title {
    font-family: 'Shrikhand', sans-serif;
}
.title-resto{
    font-family: 'Shrikhand', sans-serif;
    font-weight: bolder;
    font-size: 1.8em;   
    @media (min-width: 900px) {
        font-size: 2.8em;
    }     
}
.text__restaurant{
    font-weight: bolder;
    margin-bottom: 0;
}
p, .mailto {
    font-family: 'Roboto', sans-serif;
}
.bolder, .order__txt{
    font-weight: bolder;
}
.ml{
    margin-left: 1em;
}
.mt{
    margin-top: 0;
}
.mb{
    margin-bottom: 0;
}
.title__margin{
    margin-top: 0;
    margin-bottom: 0;
}
.box a{
    text-decoration: none;
    color: black;
}
.mailto a{
    text-decoration: none;
    color: white;
}

/*typo-restaurant-page*/

.heart{
    font-family: 'Shrikhand', sans-serif;
}
.no-margin{
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ingredient_txt{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.price{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 0.5em;
    font-size: 1.1em;
}